In [1]:
import pandas as pd
import re

In [2]:
sachin_df = pd.read_csv("C:\\Users\\Sriram Kidambi\\OneDrive\\Documents\\Python\\Data Science Stuff\\cricket_project\\player_data\\SACHIN.csv")

In [3]:
sachin_df

,Runs,Mins,BF,4s,6s,SR,Pos,Dismissal,Inns,Opposition,Ground,Start Date,Match URL,Team Total,Wickets Fallen,Percentage Scored,Match Result
0,0,-,2,0,0,0.00,5,caught,2,v Pakistan,Gujranwala,1989-12-18,https://stats.espncricinfo.com/ci/engine/match...,80,9,0.000000,L
1,0,2,2,0,0,0.00,5,caught,2,v New Zealand,Dunedin,1990-03-01,https://stats.espncricinfo.com/ci/engine/match...,138,10,0.000000,L
2,36,51,39,5,0,92.30,6,caught,1,v New Zealand,Wellington,1990-03-06,https://stats.espncricinfo.com/ci/engine/match...,221,10,16.289593,W
3,10,-,12,0,0,83.33,5,run out,1,v Sri Lanka,Sharjah,1990-04-25,https://stats.espncricinfo.com/ci/engine/match...,241,8,4.149378,L
4,20,-,25,1,0,80.00,7,caught,2,v Pakistan,Sharjah,1990-04-27,https://stats.espncricinfo.com/ci/engine/match...,209,10,9.569378,L
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
447,14,34,15,2,0,93.33,2,run out,2,v Australia,Sydney,2012-02-26,https://stats.espncricinfo.com/ci/engine/match...,165,10,8.484848,L
448,39,45,30,5,0,130.00,2,lbw,2,v Sri Lanka,Hobart,2012-02-28,https://stats.espncricinfo.com/ci/engine/match...,321,3,12.149533,W
449,6,25,19,1,0,31.57,2,caught,1,v Sri Lanka,Mirpur,2012-03-13,https://stats.espncricinfo.com/ci/engine/match...,304,3,1.973684,W
450,114,205,147,12,1,77.55,2,caught,1,v Bangladesh,Mirpur,2012-03-16,https://stats.espncricinfo.com/ci/engine/match...,289,5,39.446367,L
451,52,93,48,5,1,108.33,2,caught,2,v Pakistan,Mirpur,2012-03-18,https://stats.espncricinfo.com/ci/engine/match...,330,4,15.757576,W

The performance metric we will be using is:

Performance Metric = (Runs Scored * Strike Rate * Partnership Score * Not-Out Bonus * Contextual Factor) / (Total Wickets Fallen * Innings Duration * Average Innings Duration)

Contextual Factor = 1 + (Number of Wickets Fallen / Runs Scored by the Team)

Notes:
* For Not-Out Bonus, if the batsmen remains not out at the end of the innings, then this will be 1.1 or 1.2, else 1
* For contextual factor, it is number and runs before the batsman in question comes out.

In [32]:
foo_match = pd.read_html(sachin_df.iloc[20]["Match URL"])

In [33]:
# Innings = 2 -> Index 2
# Innings = 1 -> Index 0
fow = foo_match[2].drop(foo_match[2].columns[-2:], axis = 1).dropna().iloc[-1]["BATTING"]

In [74]:
fow

'Fall of wickets: 1-0 (Desmond Haynes), 2-23 (Philo Wallace), 3-25 (Richie Richardson), 4-55 (Carl Hooper), 5-55 (Keith Arthurton), 6-61 (Brian Lara), 7-69 (David Williams), 8-76 (Malcolm Marshall), 9-113 (Curtly Ambrose), 10-126 (Anderson Cummins)'

In [39]:
foo_match[2].drop(foo_match[2].columns[-2:], axis = 1).dropna().iloc[:-1]

                  BATTING                Unnamed: 1   R   B   M 4s 6s     SR
0          Desmond Haynes       c †More b Kapil Dev   0   1   1  0  0   0.00
1           Philo Wallace               b Prabhakar  11  33  31  0  0  33.33
2   Richie Richardson (c)       c †More b Kapil Dev  12  28  35  0  0  42.85
3              Brian Lara        c †More b Banerjee  14  38  57  1  0  36.84
4             Carl Hooper                 b Srinath  12  27  35  1  0  44.44
5         Keith Arthurton                 b Srinath   0   1   1  0  0   0.00
6        Malcolm Marshall        c †More b Banerjee   7  36  39  0  0  19.44
7        David Williams †    c Srikkanth b Banerjee   5   7   7  0  0  71.42
8          Curtly Ambrose                   run out  17  25  47  1  1  68.00
9        Anderson Cummins  c Azharuddin b Tendulkar  24  43  52  2  0  55.81
10      Patrick Patterson                   not out   8  12  20  0  0  66.66

In [34]:
scorecard = foo_match[2]

In [68]:
scorecard_2 = pd.read_html(sachin_df.iloc[24]["Match URL"])[2]

In [40]:
scorecard.drop(foo_match[2].columns[-2:], axis = 1).dropna().iloc[:-1]

                  BATTING                Unnamed: 1   R   B   M 4s 6s     SR
0          Desmond Haynes       c †More b Kapil Dev   0   1   1  0  0   0.00
1           Philo Wallace               b Prabhakar  11  33  31  0  0  33.33
2   Richie Richardson (c)       c †More b Kapil Dev  12  28  35  0  0  42.85
3              Brian Lara        c †More b Banerjee  14  38  57  1  0  36.84
4             Carl Hooper                 b Srinath  12  27  35  1  0  44.44
5         Keith Arthurton                 b Srinath   0   1   1  0  0   0.00
6        Malcolm Marshall        c †More b Banerjee   7  36  39  0  0  19.44
7        David Williams †    c Srikkanth b Banerjee   5   7   7  0  0  71.42
8          Curtly Ambrose                   run out  17  25  47  1  1  68.00
9        Anderson Cummins  c Azharuddin b Tendulkar  24  43  52  2  0  55.81
10      Patrick Patterson                   not out   8  12  20  0  0  66.66

In [9]:
# Get team total
final_score = scorecard[scorecard["BATTING"] == "TOTAL"]["R"].iloc[0].split("/")
total_score = int(final_score[0])
print(total_score)

126

In [10]:
fow_list = fow.split(":")[-1].split(",")

In [11]:
player_list = foo_match[2]["BATTING"].tolist()
for i, player in enumerate(player_list):
    if "\xa0" in player:
        player_list[i] = player_list[i].split("\xa0")[0]
player_list

['Desmond Haynes',
 'Philo Wallace',
 'Richie Richardson',
 'Brian Lara',
 'Carl Hooper',
 'Keith Arthurton',
 'Malcolm Marshall',
 'David Williams',
 'Curtly Ambrose',
 'Anderson Cummins',
 'Patrick Patterson',
 'Extras',
 'TOTAL',
 'Fall of wickets: 1-0 (Desmond Haynes), 2-23 (Philo Wallace), 3-25 (Richie Richardson), 4-55 (Carl Hooper), 5-55 (Keith Arthurton), 6-61 (Brian Lara), 7-69 (David Williams), 8-76 (Malcolm Marshall), 9-113 (Curtly Ambrose), 10-126 (Anderson Cummins)']

In [12]:
fow_list

[' 1-0 (Desmond Haynes)',
 ' 2-23 (Philo Wallace)',
 ' 3-25 (Richie Richardson)',
 ' 4-55 (Carl Hooper)',
 ' 5-55 (Keith Arthurton)',
 ' 6-61 (Brian Lara)',
 ' 7-69 (David Williams)',
 ' 8-76 (Malcolm Marshall)',
 ' 9-113 (Curtly Ambrose)',
 ' 10-126 (Anderson Cummins)']

In [13]:
for wicket in fow_list:
    for name in player_list:
        if name in wicket:
            print(wicket)

 1-0 (Desmond Haynes)
 2-23 (Philo Wallace)
 3-25 (Richie Richardson)
 4-55 (Carl Hooper)
 5-55 (Keith Arthurton)
 6-61 (Brian Lara)
 7-69 (David Williams)
 8-76 (Malcolm Marshall)
 9-113 (Curtly Ambrose)
 10-126 (Anderson Cummins)

Develop "create partnership table" function

Function should be able to take a batting innings table and construct the partnership by telling:
* Wicket Number
* Partnership Runs 
* Names of the Batsmen

In [70]:
def get_innings_batting_list(scorecard):
    extras_index = scorecard[scorecard["BATTING"].str.contains(pat = r"EXTRAS", flags = re.IGNORECASE)].index[0]
    filtered_scorecard = scorecard.drop(foo_match[2].columns[-2:], axis = 1).dropna().iloc[:extras_index]
    players_list = filtered_scorecard["BATTING"].tolist()
    for i, player in enumerate(players_list):
        if "\xa0" in player:
            players_list[i] = players_list[i].split("\xa0")[0]

    return players_list

In [81]:
def get_fall_of_wicket(scorecard):
    fow = scorecard.drop(scorecard.columns[-2:], axis = 1).dropna().iloc[-1]["BATTING"]
    fow_list = fow.split(":")[-1].split(",")

    return fow_list

In [161]:
def get_batting_pairs(batting_partners, fow_list, player_list):
    for i, (batsman_1, batsman_2) in enumerate(start=2, iterable = batting_partners):
        if batsman_1 in fow_list[i-2]:
            batting_partners.append((player_list[i], batsman_2))
        else:
            batting_partners.append((batsman_1, player_list[i]))
            
        if i == len(player_list)-1:
            break
    
    return batting_partners

In [146]:
get_fall_of_wicket(scorecard_2)

[' 1-10 (David Boon)',
 ' 2-17 (Geoff Marsh)',
 ' 3-154 (Allan Border)',
 ' 4-156 (Tom Moody)']

In [150]:
# Getting the batsmen involved in the partnerships
# Get a list of tuples for the two batsmen involved at every partnership

def get_partnerships(scorecard):
    player_list = get_innings_batting_list(scorecard)
    batting_partners = []
    batting_partners.append((player_list[0], player_list[1]))

    # Get the fall of wickets
    fow_list = get_fall_of_wicket(scorecard)

    # Get the list of tuples
    batting_partners = get_batting_pairs(batting_partners, fow_list, player_list)

    return batting_partners

In [156]:
def get_wickets_and_runs(scorecard):
    fow_list = get_fall_of_wicket(scorecard)

    wickets = []
    runs = []

    for wicket in fow_list:
        fow_w_r = re.findall(r"\d\d?-\d+", wicket)[0]
        fow_w_r = fow_w_r.split("-")
        wickets.append(fow_w_r[0])
        runs.append(int(fow_w_r[1]))
    return runs, wickets

In [157]:
def get_partnership_scores(wickets, runs, scorecard):
    final_score = scorecard[scorecard["BATTING"] == "TOTAL"]["R"].iloc[0].split("/")
    total_score = int(final_score[0])
 
    partnership_scores = []
    out_or_not = []

    current_run = 0
    for run in runs:
        partnership_scores.append(run - current_run)
        current_run = run
        out_or_not.append("OUT")
    if runs[-1] < total_score:
        partnership_scores.append(total_score - runs[-1])
        wickets.append(str(len(wickets)+1))
        out_or_not.append("NOT OUT")
    return partnership_scores, out_or_not

In [162]:
def get_partnership_table(scorecard):
    partnership_dict = {}

    runs, wickets = get_wickets_and_runs(scorecard)
    partnership_scores, out_or_not = get_partnership_scores(wickets, runs, scorecard)

    partnership_dict["Wicket"] = wickets
    partnership_dict["Partnership"] = partnership_scores
    partnership_dict["Out or Not"] = out_or_not

    partnerships_df = pd.DataFrame.from_dict(partnership_dict)
    batting_partners = get_partnerships(scorecard)

    partnerships_df[['Batsman 1','Batsman 2']] = pd.DataFrame(batting_partners)

    return partnerships_df

In [163]:
get_partnership_table(scorecard_2)

  Wicket  Partnership Out or Not   Batsman 1     Batsman 2
0      1           10        OUT  David Boon   Geoff Marsh
1      2            7        OUT  Dean Jones   Geoff Marsh
2      3          137        OUT  Dean Jones  Allan Border
3      4            2        OUT  Dean Jones     Tom Moody
4      5            2    NOT OUT  Dean Jones   Steve Waugh